#navbar{
    background: rgb(33,33,33);
    background: linear-gradient(360deg, rgba(33,33,33,1) 0%, rgba(52,52,52,1) 50%, rgba(33,33,33,1) 100%);
    border-radius: 5px;
}
.container{
    background-image:url('../background2.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #dbd7d6; */
}
.left_side{
    display: inline-block;
}
.right_side{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}
footer a{
    color: black;
}
footer{
    padding-bottom: 40px;
}