                            {% comment %} initially only passing reviews, need to grab proper recipe id {% endcomment %}
                            {% for review in Reviews %}
                                <br><br>
                                {% comment %} REPLACE THIS BLOCK  {% endcomment %}
                                <div class="card-deck col-12 bg-dark-rounded ajax" id="{{review.id}}">
                                    <br><br><br><br>
                                    <div class="card mb-4 bg-light rounded border border-dark">

                                        <div class="col-12">
                                            <div class="col-12">
                                                <b>Rating: {{review.rating}} stars</b>
                                                <br><br>
                                                <strong>{{review.reviewer.first_name}}</strong> says: <em>{{review.content}}</em>
                                                <br><br>
                                                <em>Posted On: {{review.created_at}}</em>
                                                <br><br>
                                                {% if User.id == review.reviewer.id %}
                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <form action="/review/delete" method="POST" class="delete_review" review="{{review.id}}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">Delete Review</button>
                                                                <input name="recipe_id" type="hidden" value="{{review.recipe.id}}">  
                                                                <input name="review_id" type="hidden" value="{{review.id}}">  
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            {% endfor %}
