<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/add_recipe.css">
    {% load static %}

</head>
<body class="bg-light">
    <div class="container">
        <em><h1 class="active">Create Recipe</h1></em>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/cookbook">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/founders">Founders</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Careers</a>
                </li>
    
                {% if 'userid' not in request.session %}
                  <li class="nav-item active">
                    <a class="nav-link text-white" href="sign_in">Sign in</a>
                  </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link text-white" href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
                {% endif %}
    
              </ul>
              <form action="search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

                <div class="add_recipe col-12">
        <!-- print out any errors if validation fails for either registeration or logging in -->
                    <form action="/recipe/add" enctype = "multipart/form-data" method="post">
                        <div class="col-7">

                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h6>Recipe Title</h6>
                                    <input type="text" id="recipe_name" class="form-control col-12" name="Recipe_Name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <h6>Description</h6>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" columns="5" name="Description"></textarea>                            
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <h6>Ingredients</h6>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" columns="5" name="Ingredients" placeholder="Put each ingredient in its own line"></textarea>                            
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <h6>Steps</h6>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" columns="5" name="Steps" placeholder="Put each step in its own line"></textarea>                            
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-5">
                            <h6>Add your recipe image</h6>
                            <img src={% static "camera.JPG" %}>
                            <br><br>
                            <input type="file" id="Image" name="Image">
                        </div>
                            <br>
                            <button type="submit" class="btn btn-success">Add Recipe</button>
                        </div>
                    </form>
                </div>
            
    </div>
    
</body>
