
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="dessert bg-light">
    <div class="container">
        <div class="recipes col-12">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/cookbook">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/founders">Founders</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Careers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/logout">Logout</a>
                    </li>
                  </ul>
                  <form action="search" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
                    <br><br><br>
                    <a class="btn btn-primary btn-lg" href="/desserts/create" role="button">Create Recipe</a>
                    <br><br><br>
                </div>

                <div class="col-2">
                    <div class="col-12">
                        <form action="/dessert/filter" method="post" id="dessert_filter">
                            {% csrf_token %}
                            <input type="text" class="form-control form-control-sm rounded-plll" placeholder="Filter Recipes (Case Sensitive)" name="Filter">
                            <br>
                            <button type="submit" class="btn btn-sm btn-success">Search</button>
                        </form>
                        <br>
                        <a href="/desserts/page" class="btn btn-sm btn-danger" role="button" aria-pressed="true">Clear Filter</a>
                    </div>
                </div>
            </div>                    

            <div class="col-12">
                <u><em><h1 class="text text-center">Popular Desserts</h1></em></u>
                <br><br>
                {% for recipe in Top_Recipes %}
                    <div class="row">
                    {% comment %} ADD FOR LOOP {% endcomment %}
                        <div class="col-6">
                            <a href="/recipe/info/{{recipe.id}}"><img src="{{recipe.image.url}}" width="400" height="350"></a>
                        </div>
                        <div class="col-6">
                            <em><h2 class="text"><strong>{{recipe.name}}</strong></h2></em>
                            <br>
                            <em><h4 class="text">Created by: {{recipe.owner.first_name}} {{recipe.owner.last_name}}</h4></em>
                            <br><br>
                            <em><h4 class="text">Total Reviews: {{recipe.reviews_of_recipe.all.count}}</h4></em>
                            <br>
                            <em><h6 class="text">Added On: {{recipe.created_at}}</h6></em>
                            <br><br>

                            <a class="btn btn-success" href="/dessert/info/{{recipe.id}}" role="button">Full Dessert Information</a>
                        </div>
                    </div>
                    <br> 
                {% endfor %}
            </div>

        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="{% static 'script.js' %}"></script>

    </div>
    <footer class="my-5 pt-5 light text-muted text-center text-center">
        <a class="btn btn-primary btn-lg" href="/dessert/best" role="button">Dessert of the week</a>
        <br><br>
        <ul>
            <li><a class="text-white" href="/advertisements">Advertisements</a>  <a class="text-white" href="/policy">Private Policy</a> <a class="text-white" href="/help">Help</a> <a class="text-white" href="/about">About</a> <a class="text-white" href="/policy">Visitor Agreement</a></li>
            <li class="text-white">Copyright &copy;  2020</li>
        </ul>
    </footer>

</body>
</html>